<div class="row mx-0 fondobackgroung ">
  <div class="col-sm-2 lateralCaract">
    <img src="/assets/logo.png" alt="" class="logoSFy">
    <nav class="nav flex-column navbarLateral noBorderBlue">
      <a routerLink="/home" class="nav-link current pointer"><i class="fas fa-home"></i>Inicio</a>
      <a routerLink="/search" class="nav-link pointer"><i class="fas fa-search"></i>Buscar</a>
      <a routerLink="/library" class="nav-link"><i class="fas fa-book-open"></i>Tu biblioteca</a>
      <a class="nav-link">PLAYLIST</a>
      <a class="nav-link"><button class="buttonMas">+</button> Crear playlist</a>
    </nav>

    <div class="overflow-auto barraPlaylist">
      <ul>
        <li *ngFor= "let element of listaFavoritas">
    
           Titulo: {{element.title}} y Autor: {{element.autor}}

        </li>
    
    
    
    </ul>

    </div>
  </div>



  <div class="col-2">
    <img src="/assets/{{songList[id].imagen}}" class="card-img-top imagenCover" alt="...">
    <h5 style="text-align: center; color: black" class="">{{songList[id].autor}}</h5>
    <p style="text-align: center; color: black" class="">{{songList[id].title}}</p>
    <button class="btn btn-primary btn-lg rounded-pill botonReproducir mx-auto"
      onclick="document.getElementById('idPlayer').play()">Reproducir</button>
  </div>
  <div class="col-8">
    <h1 style="text-align: center; margin: 50px; font-weight: bold; color: black;">Lyrics</h1>
    <div class="lyric angular-with-newlines" ng-repeat="item in items">
      <pre>{{songList[id].lyrics}}</pre>
    </div>
    <!-- <p class="lyric">{{songList[id].lyrics}}</p> -->

  </div>


</div>

<div class="row mx-0  reproductor">

  <div class="col-4" style="text-align: center">
    <div class="card mb-3 fondoReproductor " style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-2">
          <img src="/assets/{{songList[id].imagen}}" class="card-img imagenReproductor" alt="...">
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title">{{songList[id].title}}</h5>
            <p class="card-text">{{songList[id].autor}}</p>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="col-4 ">
    <!-- <img src='../../assets/{{songList[id].imagen}}' class="imagenCover"> -->
    <audio id="idPlayer" controls src="../../assets/{{songList[id].cancion}}" class="noBorderBlue" preload="auto"></audio>
  </div>
  <div class="col-4"></div>
</div>