<div class="row  mx-0 ">
    <div class="col-sm-2 lateralCaract">
        <img src="../../assets/logo.png" alt="" class="logoSFy">
        <nav class="nav flex-column navbarLateral">
            <a routerLink="/home" class="nav-link  pointer"><i class="fas fa-home"></i>Inicio</a>
            <a routerLink="/search" class="nav-link current pointer"><i class="fas fa-search"></i>Buscar</a>
            <a class="nav-link"><i class="fas fa-book-open"></i>Tu biblioteca</a>
            <a class="nav-link">PLAYLIST</a>
            <a class="nav-link"><button class="buttonMas">+</button> Crear playlist</a>
        </nav>

        <div class="overflow-auto barraPlaylist">
            <p>Girls and Boys</p>
            <p>Don t Stop Me Now</p>
            <p>Lets Call the Whole Thing Off</p>
            <p>Fly Me To The Moon</p>
            <p>Don t Cry</p>
            <p>Blur</p>
            <p>Queen</p>
            <p>Ella F. and Louis Armstrong</p>
            <p>Frank Sinatra</p>
            <p>Guns N Roses</p>
            <p>Lenny</p>
            <p>Antonio Carlos Jobim</p>
            <p>HombresG</p>
            <p>Joao Gilberto</p>
            <p>Girls and Boys</p>
            <p>Don t Stop Me Now</p>
            <p>Lets Call the Whole Thing Off</p>
            <p>Fly Me To The Moon</p>
            <p>Don t Cry</p>
        </div>
    </div>
    <div class="col-sm-10  lateralGlobal ">

        <h1 style="margin: 50px;  font-weight: bold;">Search</h1>
        
        <input class="inputStyle " type="text" placeholder="Busca artistas, canciones o podcast">
        <h1 style="margin: 50px;  font-weight: bold;">Tus géneros más escuchados</h1>
        <div class="row">
            <div class="col-6">
                <img class="imagenCategoria pointer" src="../../assets/POP.jpg" alt="">
                <img class="imagenCategoria pointer" src="../../assets/ROCK.jpg" alt="">

            </div>
            <div class="col-6">

                <img class="imagenCategoria pointer" src="../../assets/INDIE.jpg" alt="">
                <img  class="imagenCategoria pointer" src="../../assets/HIP HOP.jpg" alt="">

            </div>




        </div>


    </div>

</div>